
.Componente {
    padding: 10px 15px;
    color: white;
    text-decoration: none; 
    cursor: pointer; 
}

.noUnderlineLink {
    text-decoration: none; 
    color: white; 
}

.Barra-azul {
    background-color: #273F4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.Alinhar {
    display: flex;
    gap: 20px;
}

.direita {
    display: flex;
    gap: 20px; 
}