.Barra-azul {
    background-color: "blue";  
}
.Alinhar {
    display: 'flex'; 
    flex-direction: "row";
    justify-content: space-between;
    gap: "50px";
    justify-content: space-between;
}
.Componente {
    color: "white";
}