
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

.estagio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.apply-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.estagio-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estagio-info-left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.estagio-info-right {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.estagio-info-label {
    font-weight: bold;
    font-size: 1rem;
}

