html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1 0 auto; /* que el contenido crezca */
}

.main-content {
  flex: 1 0 auto; /* el contenido principal debe crecer para empujar footer */
}

.footer {
  flex-shrink: 0; /* que el footer no se reduzca */
  background-color: #F2F2F2;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  text-align: center;
  color: #273F4F;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  width: 100%;
}