.background{
    background-color: #F2F2F2;
    height: 110vh;
    padding-top: 2rem;
    padding-right: 15%;
    padding-left: 15%;
}
.heading{
    margin-left: 15%;
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bigbox{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 2.5%;
    width: 100%;
    border-radius: 0.5rem;
}
.boxheader{
    display:flex;
    flex-direction: row;
    text-align: left;
    background-color: #bbbaba;
    padding: 10px;
}
.current{
    font-weight: bold;
    margin-left: 10px;
}
.labelcoluna{
    color: #343a40;
    display: flex;
    flex-direction: column;
    width:80%;
    margin-top: 25px;
    margin-left: 50px;
}
.placeholder{
    background-color: white;
}
.textarea{
    margin-top: 10px;
    width: 100%;
}
.submit{
    margin-top: 25px;
    margin-bottom: 25px;
}