html,
body,
#root {
  height: 100%;
  margin: 0;
  color: black;
}

.background {
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-top: 3rem;
}

.voltarWrapper {
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 1000;
}

.acin {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.heading {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.3rem;
}

/* Caja principal */
.bigbox {
 background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; 
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
  text-align: left;
}

/* Listado */
.list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.listheading {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.description {
  margin-top: 5px;
  margin-left: 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
}

/* Sidebar */
.sidebar {
  background-color: rgb(174, 173, 182);
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
}

.descriptionsidebar {
  font-weight: normal;
  margin-left: 5px;
  display: inline-block;
}

