html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff !important; 
}

.background {
  background-color: #fff;
  max-width: 1140px;
  width: 95%;
  margin: 110px auto 60px auto; 
  min-height: 400px;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07); 
}


.logoTitle {
  display: flex;
  align-items: center;
  gap: 30px;
}

.acin {
  width: 150px;
  height: auto;
}

.titleTexts {
  display: flex;
  flex-direction: column;
  align-items: left; 
  text-align: left;  
  flex: 1; 
}

.heading {
  font-size: 1.7rem;
  margin: 0 0 8px 0;
  font-weight: 700;
  color: #273F4F;
}

.separator {
  border: 0;
  height: 2px;
  background: #343a40; 
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
   max-width: none;   
}

.pageWrapper {
  position: relative; /* para referencia */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente mainContent y el botón */
}
.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap; 
  padding-top: 20px;
  background-color: #fff;
  width: 80%; /* o el ancho que uses */
}

.leftColumn {
  flex: 2;
  text-align: left;
  min-width: 300px;
}


.cleanList,
.subList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cleanList li {
  margin-bottom: 18px;
}

.cleanList p,
.subList li {
  margin: 5px 0 0;
  line-height: 1.5;
  color: #444;
}

.subList {
  padding-left: 20px;
}

.subList li {
  margin-bottom: 6px;
}


.sidebarWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 280px;
  margin-top: 120px;

}

.sidebar {
  background-color: #D7D7D7;
  border-radius: 8px;
  padding: 18px;
  font-size: 0.9rem;
  line-height: 1.5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 12px;
  text-align: left;
}

.customButton {
  background-color: #273F4F;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s ease;
}

.customButton:hover {
  background-color: #1b2f3b;
}

strong {
  color: #343a40; 
}

.cleanList p,
.cleanList li,
.subList li,
.sidebar p {
  color: #6c757d; 
}

.contactInfo {
  text-align: right;
  font-size: 0.95rem;
  color: #6c757d; 
}

.contactInfo strong {
  color: #343a40;
}

.headerContent {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.voltarWrapper {
  position:fixed;
  width: 80%;            /* Igual que el mainContent */
  margin: 0 auto;         /* Centra el contenedor en la página */
  display: flex;
  justify-content: flex-start; /* Lo mantiene alineado a la izquierda */
  padding-top: 10px;      /* Opcional, ajusta la separación vertical */
}
