

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}

.user-option {
    flex: 1.5;
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;
    margin-top: 100px;
}
.user-option:hover {
    box-shadow: #273F4F;
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;

}


.label {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    color: #273F4F;              
    text-align: center;          
}
.title {
    font-size: 1.2em;            
    font-weight: 600;
    margin-top: 40px;
    color: #273F4F;            
    text-align: center;          
}

