.tagInputContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	background: white;
	width: 100%;
	font-size: 1rem;
}

.tags {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    gap: 5px;
	padding: 0.5rem
}

.tag {
    color: #fff !important;
	background: rgba(46, 77, 97, 0.75) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;
    cursor: pointer;
	padding: 0.25rem 0.5rem;
	font-size: 0.9rem;
    font-weight: 400;
	display: inline-block;
}

.input {
	border: none;
	flex: 1;
	min-width: 100%;
	outline: none;
}

.input::placeholder {
	color: #888;
  	font-weight: normal;
}

.input::placeholder {
  color: #888;
  font-weight: normal;
}


.input::-webkit-input-placeholder {
  color: #888;
}

.input::-moz-placeholder {
  color: #888;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: #888;
}
