
.barra-superior {
    background-color: #D7D7D7; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 70px; 
    border-bottom: 1px solid #D7D7D7; 
}

.barra-superior .logo {
    height: 50px; 
    width: auto; 
}

.user-toggle {
    color: #447D9B !important; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
    font-weight: 500; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    padding: 0; 
    border: none !important; 
    background: none !important; 
    box-shadow: none !important; 
    outline: none !important; 
}

.user-toggle:hover,
.user-toggle:focus {
    color: #447D9B !important; 
    text-decoration: none; 
    background-color: transparent !important; 
    box-shadow: none !important; 
}
.user-toggle svg { 
    margin-right: 5px; 
    font-size: 18px;
    vertical-align: middle; 
}

.user-toggle::after {
    display: inline-block;
    margin-left: 0.5em; 
    vertical-align: middle;
    border-top: 0.3em solid #4a90e2; 
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    content: "";
    font-size: 14px; 
    transition: transform 0.2s ease-in-out; 
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.page-title-bar {
    background-color: #364049; 
    color: #fff; 
    padding: 8px 20px; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    text-align: left;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#F2F2F2; 
}